body{
background-color: #C5A78F;
}


.sac{
position: absolute;
top: 600px;
left: 600px;
transition: transform 0.3s ease;
}

.shrine{
position: absolute;
top: 620px;
left: 1280px;
transition: transform 0.3s ease;
}

.bebe{
position: absolute;
top: 250px;
left: 1500px;
transition: transform 0.3s ease;
}

.mido{   
position: absolute;
left: 100px;
top: 10px;
animation: slide-in-mido 2.5s linear forwards running;
}

.chub{
position: absolute;
left: 1600px;
top: 5px;
transition: transform 0.3s ease;
scale: 90%;
}

.circle{
    align-items: center;
    position: absolute;
    top:500px;
    left:500px;
    animation: spin 3s linear infinite;
    z-index: 10;
}

.ligne{
  position: absolute;
  left: 400px;
  z-index: -1
}


/* KEYFRAMES/HOVER */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slide-in-mido {
    from {
        left:-10px;
    }
    to {
        left:300px;
    }
}

.chub:hover {
  transform: rotate(5deg); }

.shrine:hover {
  transform: rotate(5deg); }

.sac:hover {
  transform: rotate(-5deg); }


  /* POUR RETOURNER ACCUEIL */
.bebe:hover {
transform: scale(1.1);
    transition: 0.3s ease-out}

