body{
background-color: #C5A78F;
}

.collection1{
position: absolute;
align-items: center;
left: 1200px;
animation: slide-in-collection 3s ease-in reverse both running;
}

.ita{
position: absolute;
align-items: center;
top: 700px;
left: 1150px;
animation: slide-in-ita 6s ease-in reverse both running;
}

.omanjuu{
position: absolute;
top: 700px;
left: 1670px;
animation: slide-in-omanjuu 5s ease-in reverse both running;
}

.ryuseitai{
position: absolute;
align-items: center;
top:500px;
left: 300px;
}


/* HOVERS, KEYFRAMES */
.ryuseitai:hover{
transform: scale(1.1);
transition: 0.3s ease-out ;
}

/* RETOUR PAGE ACCUEIL  */
.omanjuu:hover{
transform: scale(1.1);
transition: 0.3s ease-out;
}

@keyframes slide-in-collection {
    
    from {
        right:100px;
    }
    to {
        left:300px;
    }
}

@keyframes slide-in-omanjuu {
    
    from {
        right:200px;
    }
    to {
        left:300px;
    }
}


@keyframes slide-in-ita {
    
    from {
        right:200px;
    }
    to {
        left:300px;
    }
}
