body {
    background-color: rgb(255, 255, 255)
}

.accueil {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto 50px;
}

.parfum1 {
    position: absolute;
    scale: 8%;
    left: 534px;
    top: 63px;
}

.parfum1:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.parfum2 {
    position: absolute;
    scale: 11%;
    left: 846px;
    top: 180px;
}

.parfum2:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.acrylic {
    position: absolute;
    scale: 12%;
    left: 115px;
    top: -56px;
}

.acrylic:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.CD {
    position: absolute;
    scale: 10.5%;
    left: 395px;
    top: -150px;
}

.CD:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.durag1 {
    position: absolute;
    scale: 22%;
    left: 622px;
    top: -441px;
}

.durag1:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.durag2 {
    position: absolute;
    scale: 26%;
    left: 976px;
    top: -350px;
}

.durag2:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.bouton {
    position: absolute;
    scale: 23%;
    left: -520px;
    top: -50px;
}

.bouton:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.page1 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.page2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.page3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.page4 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.page5 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.textp5 {
    position: absolute;
    width: 1000px;
    height: 170px;
    left: 30px;
    top: 300px;
}

.couleurs1 {
    position: absolute;
    scale: 50%;
    top: -170px;
    left: 700px;
    animation: spin 7s linear infinite;
}

.couleurs2 {
    position: absolute;
    scale: 50%;
    top: -170px;
    left: 700px;
    animation: spin reverse 6s linear infinite;
}

.couleurs3 {
    position: absolute;
    scale: 50%;
    top: -170px;
    left: 699px;
    animation: spin 5s linear infinite;
}

.couleurs4 {
    position: absolute;
    scale: 50%;
    top: -170px;
    left: 700px;
    animation: spin reverse 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chaussure1 {
    position: absolute;
    scale: 30%;
    left: -400px;
    top: 280px;
    animation: 2s linear 0s infinite alternate shoe-step;
}

.chaussure2 {
    position: absolute;
    scale: 27%;
    left: -20px;
    top: 240px;
    animation: 1s linear 0s infinite alternate shoe-step;
    animation-delay: unset;
}

.chaussure3 {
    position: absolute;
    scale: 33%;
    left: 80px;
    top: 530px;
    animation: 3s linear 0s infinite alternate shoe-step;
}

.chaussure4 {
    position: absolute;
    scale: 30%;
    left: -400px;
    top: 520px;
    animation: 2.5s linear 0s infinite alternate shoe-step;
}

@keyframes shoe-step {
  from {
    transform: translateY(8vh);
  }
  to {
    transform: translateY(0);
  }
}

.page6 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -150px auto;
}

.textp6 {
    position: absolute;
    width: 700px;
    height: 100px;
    left: 30px;
    top: 300px;
}

.tduragm {
    position: absolute;
    left: 1235px;
    top: 550px;
}

.tduragm:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.tduragp {
    position: absolute;
    left: 875px;
    top: 563px;
}

.tduragp:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.tduragv {
    position: absolute;
    left: 1020px;
    top: 143px;
}

.tduragv:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.tduragsi {
    position: absolute;
    left: 1612px;
    top: 558px;
}

.tduragsi:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.tduragsa {
    position: absolute;
    left: 1452px;
    top: 143px;
}

.tduragsa:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.duragm {
    position: absolute;
    scale: 25%;
    left: 725px;
    top: -20px;
}

.duragm:hover {
    transform: scale(1.05) rotate(2deg);
}

.duragp {
    position: absolute;
    scale: 30%;
    left: 400px;
    top: 145px;
}

.duragp:hover {
    transform: scale(1.05) rotate(2deg);
}

.duragsa {
    position: absolute;
    scale: 30%;
    left: 1150px;
    top: -250px;
}

.duragsa:hover {
    transform: scale(1.05) rotate(2deg);
}

.duragsi {
    position: absolute;
    scale: 33%;
    left: 1100px;
    top: 220px;
}

.duragsi:hover {
    transform: scale(1.05) rotate(2deg);
}

.duragv {
    position: absolute;
    scale: 26%;
    left: 620px;
    top: -370px;
}

.duragv:hover {
    transform: scale(1.05) rotate(2deg);
}

/* PAGE 3 */
body{
background-color: #C5A78F;
}

.collection1{
position: absolute;
align-items: center;
top: 100px;
left: 1200px;
animation: slide-in-collection 3s ease-in reverse both running;
}

.ita{
position: absolute;
align-items: center;
top: 800px;
left: 1150px;
animation: slide-in-ita 6s ease-in reverse both running;
}

.omanjuu{
position: absolute;
top: 800px;
left: 1670px;
animation: slide-in-omanjuu 5s ease-in reverse both running;
}

.ryuseitai{
position: absolute;
align-items: center;
top:600px;
left: 300px;
}


/* HOVERS, KEYFRAMES */
.ryuseitai:hover{
transform: scale(1.1);
transition: 0.3s ease-out ;
}

.omanjuu:hover{
transform: scale(1.1);
transition: 0.3s ease-out;
}

@keyframes slide-in-collection {
    
    from {
        right:100px;
    }
    to {
        left:300px;
    }
}

@keyframes slide-in-omanjuu {
    
    from {
        right:200px;
    }
    to {
        left:300px;
    }
}


@keyframes slide-in-ita {
    
    from {
        right:200px;
    }
    to {
        left:300px;
    }
}

/* PAGE 4 */
body{
background-color: #C5A78F;
}


.sac{
position: absolute;
top: 800px;
left: 600px;
transition: transform 0.3s ease;
}

.shrine{
position: absolute;
top: 810px;
left: 1280px;
transition: transform 0.3s ease;
}

.bebe{
position: absolute;
top: 400px;
left: 1500px;
transition: transform 0.3s ease;
}

.mido{   
position: absolute;
left: 100px;
top: 200px;
animation: slide-in-mido 2.5s linear forwards running;
}

.chub{
position: absolute;
left: 1600px;
top: 120px;
transition: transform 0.3s ease;
scale: 90%;
}

.circle{
    align-items: center;
    position: absolute;
    top:700px;
    left:500px;
    animation: spin 3s linear infinite;
    z-index: 10;
}

.ligne{
  position: absolute;
  top: 150px;
  left: 400px;
  z-index: -1
}

.text4{
  position: absolute;
  align-items: center;
  top: 400px;
  left: 700px;
}

.text3{
  position: absolute;
  align-items: center;
  top: 300px;
  left: 300px;
}


/* KEYFRAMES/HOVER */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slide-in-mido {
    from {
        left:-10px;
    }
    to {
        left:300px;
    }
}

.chub:hover {
  transform: rotate(5deg); }

.shrine:hover {
  transform: rotate(5deg); }

.sac:hover {
  transform: rotate(-5deg); }


.bebe:hover {
transform: scale(1.1);
    transition: 0.3s ease-out}
